@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-color: #E2DFD3;
  --accent-color:  #6A5ACD;
}

body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    background-color: #1d1d20;
    color: #d1d1d1;
    color: rgb(209, 209, 209, .9);
  }

  body::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;

  }
   
  body::-webkit-scrollbar-thumb {
    background: var(--main-color);
    outline: 1px solid rgb(209, 209, 209, .9);
    border-radius: 10px;
  }
