@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Kaushan+Script&family=Lobster&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rouge+Script&family=Sail&family=Style+Script&family=Sail&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-color: #E2DFD3; /* Define the color variable */
  --accent-color:  #6A5ACD;
}

body {
  font-family: "Montserrat", sans-serif!important;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    background-color: #1d1d20;
    color: #d1d1d1;
    color: rgb(209, 209, 209, .9);

  }

  body::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;

  }
   
  /* body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px black;
  }
    */
  body::-webkit-scrollbar-thumb {
    background: var(--main-color);
    outline: 1px solid rgb(209, 209, 209, .9);
    border-radius: 10px;
  }

  .main {
    transition: box-shadow 0.3s ease;
  }

  p {
    margin: 0;
    color: rgb(209, 209, 209, .85);

  }
  a {
    color: unset;
    text-decoration: none;
  }